name: Update BTC signals

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on:
      - ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.1'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run signal script
        run: python -u pull_binance.py

      - name: Commit and push updated CSVs
        run:  |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add data/
            git diff -- staged -- quiet || git commit -m "Update signas $(date -u '+%Y-%m-%d %H:%M UTC')"
            git push

        
